@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --dark: #303840;
  --ag-one: #140152;
  --ag-two: #0D00A4;
  --ag-three: #0D00A4;
  --ag-four: #020887;
  --fg-one: #0C1B33;
  --fg-two: #114B5F;
  --fg-three: #8E94F2;
  --fg-four: #9FA0FF;
  --fg-five: #473198;
  --fg-six: #14453D;
  --fg-seven: #07393C;
  --fg-eight: #0097b2;
  --fg-nine:  #5567ff;
  --fg-ten: #272c33b3;
  --bg-one: #3D7068;
  --bg-two: #43C59E;
  --bg-three: #C1F7DC;
  --bg-four: #20A4F3;
  --bg-five: #2EC4B6;
  --bg-six: #011627;
  --bg-seven: #028090;
  --bg-eight: #D80032;
  --bg-nine: #272c3380;
  --bg-ten: #DEDEDE;
  --cg-one: #e9edf2;
  --cg-two: #F6F7F8;
  --cg-three: #EFF0D1;
  --cg-four: #12130F;
  --cg-five: #EDEDF4;
  --cg-six: #FEFEFF;
  --cg-seven: #FFFBFF;
  --cg-eight: #F0EDEE;
  --cg-nine: #ffffffb2;
  --cg-ten: #0DAA8C;
  --font-one:  "Roboto", sans-serif;
  --font-two: "Poppins", sans-serif;
  --font-three: "Orbitron", sans-serif;
  --font-four:  "Montserrat", sans-serif;
  --font-five:  "Playfair Display", serif;
}
*{
  margin: 0px ;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  display: none;
}
body{
  width: 100%;
  min-height: 100vh;
  background-color: var(--cg-one);
}
.slick-slide > div{
  margin: 0px 20px 0px 0px;
}
.slick-next{
  background-color: var(--fg-nine);
}
.slick-slide > button{
  background-color: var(--fg-nine) !important;
  padding: 10px;
}
.slick-prev:before, .slick-next:before{
  color: var(--fg-nine) !important;
}
/*.slick-dots >.slick-active{
  background-color: var(--fg-nine);
  border-radius: 50%;
}*/
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #5567ff !important;
}
.slick-slider{
  padding: 0px 0px 0px 0px;
}